@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

body {
    margin: 0;
}

:root {
    --headline:"Roboto", sans-serif;
    --breadText:"Raleway", sans-serif;
    --drink-name-color: #EFE7E7;
}

.landingPage {
    background-image: linear-gradient(to bottom, #07081399, #000000), url(./img-icons/img/backgroundLandingPage.jpeg);
    background-size: cover;
    background-repeat: repeat-x;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


h1, h3{
    color: var(--drink-name-color);
    font-family: var(--headline);
    text-transform: uppercase;
}

.placeList{
    font-family: var(--breadText);
}
.drinkImg {
    width: 300px;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
}

.d-none {
    display: none;
}

.categoryBtn {
    width: 200px;
    height: 2rem;
}

.categoryName {
    width: 100%;
}

.oneDrinkContainer {
    margin: 1%;
}
.drinkName{
    background-color: #707070;
    opacity: 50%;
    text-align: center;
    padding: 15px;
    max-width: 300px;

}
.drinksListContainer {
    display: flex;
    flex-wrap: wrap;
}
